.ant-row.ant-form-item {
    display: block;
}
.ant-modal-content {
    width: 55%;
    margin: 0 auto;
}
.ant-modal-footer {
    display: none;
}
.ant-modal-body {
    padding: 10px;
    font-size: 10px;
}
.ant-form-item {
    margin-bottom: 4px;
    font-size: 7px;
}
.ant-form-item-label > label {
    height: 10px;
    font-size: 9px;
}
.ant-modal-title,
.ant-modal-close-x {
    font-size: 12px;
}
.ant-input {
    padding: 2px 3px;
}
.ant-modal-header {
    padding: 0 15px;
}
.ant-modal-close {
    top: -17px;
    right: -10px;
}
.ant-form-item-label >label.ant-form-item-required:not
(.ant-form-item-required-mark-optional)::before {
    font-size: 10px;
}
.ant-form-item-control-input {
    min-height: 26px;
}
.ant-modal {
    top: 25px;
}
.ant-table-cell {
    font-size: 10px;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
    padding: 8px;
}
.recipeFormBtns,
.editFormBtns {
    display: flex;
    text-align: right;
}
.ant-form-item-explain, .ant-form-item-extra {
    font-size: 10px;
}
.ant-card.ant-card-bordered {
    margin: 10px auto;
}
input {
    font-size: 10px !important;
}
.ant-card-body {
    width: 180px;
    padding: 2px 4px 5px 4px;
}

@media screen and (max-width: 700px) {
    .ant-modal-content {
        width: 80%;
    }
}
