.recipeItemsTitle {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.recipeItemsBlock {
    width: 200px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 25px;
    margin: 0 5px;
    padding: 10px;
    transition: .8s ease;
}
.recipeItemsBlock:hover {
    background-color: lightgray;
    cursor: pointer;
}
.recipeImg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.recipeBtns {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
button.ant-btn {
    padding: 0 7px;
    line-height: 20px;
}
.recipeItemsDescription {
    font-size: 10px;
}
